
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
*{
    padding: 0%;
    margin:0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif; 

/* color card style */
}
.colors-cards{
    display: flex;
    gap: 20px;
    width: calc(250*4 + 15*3 + 20*2);
    padding: 0px 20px;
}
.color-card{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 15px;

}
.color-card .colors{
display: flex;
flex-direction: column;
width: 100%;
height: 250px;
border-radius: 15px;
overflow: hidden;
}
.color-card .colors .color:nth-child(1) {
width: 100%;
height: 35%;

}
.color-card .colors .color:nth-child(2){
width: 100%;
height: 30%;


}
.color-card .colors .color:nth-child(3){
    width: 100;
    height: 25%;
    

}
.color-card .colors .color:nth-child(4){
    width: 100%;
    height: 14%;
    background-color: rgb(22, 41, 97);

}

.color-card .colors-card-controls{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.color-card .colors-card-controls .btn-like{
height: 40px;
padding: 0 15px;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
color: RGB(134, 134, 134);
background-color: white;
border: 1px solid #ececec;
border-radius: 10px; 
gap: 5px;
}
.color-card .colors-card-controls .time{
color:RGB(175, 172, 169) ;
font-size: 12px;
}
/* color card END */